.back-login{
    background: #212529;
    background-image: url("../img/back.jpg");
    background-size: cover;
}

.user-profile-img{
    width:auto;
    max-height: 100px;
}

.input-form{
    margin-bottom: 5px;
}

.right{
    float:right;
}
