<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>BRASSERIE</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link th:href="@{~/css/styles.css}" rel="stylesheet" />
  <link th:href="@{~/css/custom.css}" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="index.html">Brasserie</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
</nav>

<div id="layoutSidenav">
  <div th:insert="~{/left_bar}"></div>

  <div id="layoutSidenav_content">
    <main class="container-fluid">
      <div class="container-fluid px-4">
        <h1 class="mt-4">Brasserie</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
          <li class="breadcrumb-item active">Ajouter une brasserie</li>
        </ol>
        <div class="card mb-4">
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fa-solid fa-plus"></i>
            <span th:if="${update}">Ajouter une brasserie</span>
            <span th:unless="${update}">Modifier une brasserie</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <form class=""
                      method="post" enctype="application/x-www-form-urlencoded"
                      th:action="@{/add-brewery}" th:object="${brasserie}">
                  <div class="form-group row mb-2">
                    <label for="indentifiant" class="col-sm-2 col-form-label">Identifiant de la brasserie</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{codeBrasserie}" class="form-control" id="indentifiant" name="codeBrasserie" placeholder="Identifiant" required>
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="nomBrasserie" class="col-sm-2 col-form-label">Nom de la brasserie</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{nomBrasserie}" class="form-control" id="nomBrasserie" name="nomBrasserie" placeholder="Nom de la brasserie" required>
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="VilleBrasserie" class="col-sm-2 col-form-label">Ville</label>
                    <div class="col-sm-10">
                      <input type="text" th:field="*{ville}" class="form-control" id="VilleBrasserie" name="ville" placeholder="Ville de la brasserie" required>
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="region" class="col-sm-2 col-form-label">Region</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example" id="region" name="region" required>
                        <option selected>Région</option>
                        <option th:field="*{region}" th:each="region : ${listeRegion}"  th:value="${region.getNomRegion()}" th:text="${region.getNomRegion()}">One</option>
                      </select>
                    </div>
                  </div>

                  <button th:if="${update}" type="submit" class="btn btn-primary">Modifier</button>
                  <button th:unless="${update}" type="submit" class="btn btn-primary">Ajouter</button>

                </form>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div th:insert="~{/footer}"></div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{~/js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{~/js/datatables-simple-demo.js}"></script>
</body>
</html>