<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRASSERIE</title>
</head>
<body>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; BEERBOARD 2022</div>
            <div>
                <a href="#">Mentions Légales</a>
                &middot;
                <a href="#">Conditions</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
